*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    color: white;
}
body 
{
 background:url("/lmages/121-1213644_photo-wallpaper-dark-twilight-sky-nature-sunset-sunset.jpg");
 width:100% ;
 height: 100vh;
 background-size: cover;
 background-position:top center;
background-color: skyblue;
}
body form{
    z-index: 2;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
     height: 50vh;
  color: white;

}
form
{
     margin-top: 50px; 
    text-align:center;
    
}
input{
    display: block;
    width: 350px;
     height: 40px; 
   margin: 20px;
   border: none;
    outline: none;
    font-size:20px;
    border-bottom: 1px solid white;
    background: transparent;
  
}
 button
{
    width: 350px;
    height: 40px;
    font-size: 20px;
    background-color:blue;
    border:none;
    color:white;
     margin-top:30px; 
}
 .form h1{
    margin-bottom: 30px; 
}
.navbar-nav  .nav-item .nav-link
{
    color: white;
}

.navbar-nav .nav-item .nav-link active
{
    color: white;
}

#togglePassword
{
margin-left:320px;
}
