/* @import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap'); */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


 
.navbar-brand img
{
width:100px ;
padding: 5px;
}
#home video
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    
}
@media(min-aspect-ratio:16/9)
{
    #home video
    {
        width:100;
        height:auto;
    }
}
.navbar
{
    font-size: 16px;
    
}
.navbar-light .navbar-nav .nav-link
{
    padding: 3 20px;
    color: crimson;
    transition: 0.3s ease;
}
/* login */
 .form-container 
{

border-radius: 10px;
padding: 20px;
box-shadow: 0px 0px 10px  0px;


}
.form-container h4{
    color: whitesmoke;
    font-family:cursive;
    font-style:oblique;

}
.form-container .form-label
{
    color:white;
    font-family:cursive;
    font-weight: 900;
    font-style:oblique;

}
.form-container .form-check-label
{
    font-weight: 900;
    color:white;
    font-style:oblique;
}
#togglePassword
{
    color: white;
}
/* destintion */



 
.mx-auto hr{
    width: 80px;
    height: 22px;
    color: orangered;
}
.district1
{
    cursor: pointer;
    margin-bottom: 2rem;
}
.district1 img{
    transition: 0.3s all ;
}
.district1:hover img{
 opacity: 0.7; 
}
.district1 .img-fluid .second
{
  width:100% ;
  height: 600%;
  box-sizing: border-box;
  object-fit: cover;
}

.district1 .explore-btn
{

text-decoration:none;
transform: "translateY(20px)";
opacity: 0;
transition: 0.3s all ;
} 
.district1:hover .explore-btn
{

transform: "translateY(0)";
opacity: 1;

} 
.navbar-nav .nav-item .nav-link
       {
         color:lawngreen;
       }
       .row .district1 .img-fluid
       {
           width: 250px;
           height: 200px;
           box-sizing: border-box;
           object-fit: cover;
       }
       .row .district1 .explore-btn
       {
           color:lawngreen;
           font-family: cursive;
       }
       

    #bar
    {
        font-size: 1.5rem;
        padding: 5px;
        cursor: pointer;
        font-weight: 500;
        transition: 0.3s ease;
        color: black;
    }


    .destination
{
    background-color:lightcoral;

}
.destination h3
{
color: crimson;
font-family: cursive;

}
.destination h5
{
color: crimson;
font-family: cursive;

}
.destination p
{
color:lawngreen;
font-family: cursive;

}
.district1 p
{

    font-family: cursive;
  padding: 0.5px;
  text-align:justify;
 letter-spacing:normal;
 position: relative;
 font-weight: 700;
 font-size: 14px;
}
.pt{
   background-color: bisque;
}
.pt h3{
    color: navy;
}
 
.pt h5{
    color:navy
}
.pt p{
    color: navy;
}
#togglePassword
 {
      
    margin-left: 250px;
 
}
.form-container a{
    color:whitesmoke;
    font-family: cursive;
}
button{
    font-family: cursive;
}

.signupp
{


 
        z-index: 2;
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction:column;
         height: 50vh;
      
}
.signupp
{
     margin-top: 50px; 
    text-align:center;
    
}

.signupp    input{
    display: block;
    width: 350px;
     height: 40px; 
   margin: 20px;
   border: none;
    outline: none;
    font-size:20px;
    border-bottom: 1px solid white;
    background: transparent;
  
}
 .signupp button
{
    width: 350px;
    height: 40px;
    font-size: 20px;
    background-color:blue;
    border:none;
    color:white;
     margin-top:30px; 
}
.signupp  h1{
    margin-bottom: 30px; 
}

#togglePassword
{
margin-left:320px;
}
.sign 
{
    background:url("../lmages/sunset.jpg");
    width:100% ; 
   height: 100vh;
    background-size:cover;

}




 
