*{
  padding: 0;
  margin: 0;
}


 
      hr{
          width: 60px;
          height: 12px;
          background-color:blue;
      }
      .district1
      {
          cursor: pointer;
          margin-bottom: 1rem;
      }
      .district1 img{
          transition: 0.3s all ;
      }
      .district1:hover img{
       opacity: 0.7; 
    }
     .district1 .img-fluid 
      {
        width:600% ;
        height: 800%;
        box-sizing: border-box;
        object-fit: cover;
      }
     
      .district1 .explore-btn
      {

text-decoration:none;
 transform: "translateY(20px)";
opacity: 0;
transition: 0.3s all ;
      } 
      .district1:hover .explore-btn
      {

 transform: "translateY(0)";
opacity: 1;

      } 
     
       .navbar-nav .nav-item .nav-link
       {
         color: black;
       }
    